body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc0cb;
    color: #808080;
    padding: 10px 0;
    text-align: center;
}